 Data Structures

List>> indexed DS : ordered DS : Mutable : heterogenous(mixed values can be kept): have duplicates : just values:  []:  list()
tuple>>indexed DS : ordered DS : immutable: heterogenous(mixed values can be kept): have duplicate: just values: (): tuple()
set>> unindexed DS : Unordered DS: mutable: heterogenous(mixed values can be kept): Only unique values :just values: {}: set()
dictionary>> unindexed DS : Ordered DS : mutable: heterogenous(mixed values can be kept): have duplicate: works in Key- value pairs: {}: dict()

#List
- creating
- indexing n slicing (same as string)
- comprehension

In [4]:
a=[] #empty list
b=[1,2,3,4] #numeric list
c=[1,'apple',2,'mango'] #mixed list
d=[[1,2,3],[4,5,6]] #list of list
e=[[1,"apple"],[2,"banana"]] #mixed nested list
f=['kush','lucknow'] #string list
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
[1, 'apple', 2, 'mango']
[[1, 2, 3], [4, 5, 6]]
[[1, 'apple'], [2, 'banana']]
['kush', 'lucknow']

In [3]:
for i in e: #data traversal
    print(i)

[1, 'apple']
[2, 'banana']

In [1]:
g=list('hello')
h=list(range(10))
i=[0.5]*10  #duplicated list
print(g)
print(h)
print(i)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]

In [12]:
movies=['Aparichit','koi mil gya','om shanti om','PK','I']
print(movies[-len(movies)])
print(movies[-1]) #last item
print(movies[::-1])

Aparichit
I
['I', 'PK', 'om shanti om', 'koi mil gya', 'Aparichit']

In [23]:
number=[1,2,3,4,5,6,7,8,9,10]
print(number[0:5])
print(number[:-3])
print(number[4:-4]) 
print(number[::-1])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[5, 6]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

- #list method (11)
⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️

- adding/updating
  -'append()'
  -'extend()'
  - 'insert()

- removal/deletion
  - 'remove()'
  - 'pop()'
  - 'clear()'

- utility
 - sort()
 - reverse()
 - index()
 - count()
 - copy()

In [2]:
fav_book=[]
hated_book=[]
for i in range(5):
    book=input("Input your fav book:")
    fav_book.append(book)
for i in range(3):
    book=input("Input your hated book:")
    hated_book.append(book)

print("fav book: ",fav_book)
print("hated book: ",hated_book)

fav book:  ['', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh']
hated book:  ['Polity by M.Laxmikant', 'Jacobian', 'Chronicles of Narnia']

In [27]:
hated_book.append("ikagai")
print(hated_book)

['Hell in the Cell', 'Jacobian', 'Narnia Chronicles', 'ikagai']

In [5]:
#merging of lists and create a new list
books=fav_book+hated_book
print(books)

['', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Chronicles of Narnia']

In [6]:
#adding a list to the existing list
books.extend(['hatim','Ali baba 40 chor','Aladdin'])
print(books)
print("The count of Books :",len(books))

['', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Chronicles of Narnia', 'hatim', 'Ali baba 40 chor', 'Aladdin']
The count of Books : 11

In [8]:
# books.append(["marino","jacobian"]) #nested type
# print(books)
books.append("Jalaikattu")
print(books)

['', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Chronicles of Narnia', 'hatim', 'Ali baba 40 chor', 'Aladdin', 'Jalaikattu', 'Jalaikattu']

In [10]:
books.insert(0,"Aghori")
print(books)

['Aghori', '', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Alchemist', 'Chronicles of Narnia', 'hatim', 'Ali baba 40 chor', 'Aladdin', 'Jalaikattu', 'Jalaikattu']

In [11]:
books

['Aghori',
 '',
 'harry potter and the goblet of fire',
 'Spiderman :Home coming',
 'Jumanji',
 'geography ny Savinder singh',
 'Polity by M.Laxmikant',
 'Jacobian',
 'Alchemist',
 'Chronicles of Narnia',
 'hatim',
 'Ali baba 40 chor',
 'Aladdin',
 'Jalaikattu',
 'Jalaikattu']

In [14]:
#replace
books[1]="Game of Thrones"
books[-1]="Pushpa Raj"
print(books)

['Aghori', 'Game of Thrones', 'harry potter and the goblet of fire', 'Spiderman :Home coming', 'Jumanji', 'geography ny Savinder singh', 'Polity by M.Laxmikant', 'Jacobian', 'Alchemist', 'Chronicles of Narnia', 'hatim', 'Ali baba 40 chor', 'Aladdin', 'Jalaikattu', 'Pushpa Raj']

In [15]:
# remove(): value Based removal
# pop(): index based removal
books.remove("Jacobian")
books

['Aghori',
 'Game of Thrones',
 'harry potter and the goblet of fire',
 'Spiderman :Home coming',
 'Jumanji',
 'geography ny Savinder singh',
 'Polity by M.Laxmikant',
 'Alchemist',
 'Chronicles of Narnia',
 'hatim',
 'Ali baba 40 chor',
 'Aladdin',
 'Jalaikattu',
 'Pushpa Raj']

In [17]:
books.pop(5)

'geography ny Savinder singh'

In [18]:
books.pop() #directly removes the last element

'Jalaikattu'

In [45]:
hated_book.clear() #remove all the elements
print(hated_book)

[]

# WAP  to create an emptylist , then fill the list with 10 prime numbers using a loop starting with 2

In [8]:
num=int(input("enter the value"))
lst=[]
for i in range(2,num):
   lst.append(i)
print(lst)
for j in lst:
   if j%2==0:
      continue
   print(j)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
3
5
7
9
11
13

In [9]:
numbers=[12,85,78,69,14,77,32,98]
numbers.reverse() #changes the orignal list

In [10]:
print(numbers)

[98, 32, 77, 14, 69, 78, 85, 12]

In [11]:
numbers=[12,85,78,69,14,77,32,98]
a=numbers[::-1]
print(a)

[98, 32, 77, 14, 69, 78, 85, 12]

In [13]:
numbers.sort() #ascending, changes the order list
print(numbers)
numbers.sort(reverse=True) #descending
print(numbers)

[12, 14, 32, 69, 77, 78, 85, 98]
[98, 85, 78, 77, 69, 32, 14, 12]

In [14]:
x=[[1,12],[2,5],[5,10],[4,15]]
x.sort() #sort by the first element
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [15]:
x.sort(key=lambda e: e[1]) #sort by the second element
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [16]:
x.sort(key=lambda i: sum(i))
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [17]:
users=[('Alice',25),('Bob',19),('Alex',26)]
x.sort()
print(users)

[('Alice', 25), ('Bob', 19), ('Alex', 26)]

In [21]:
cart=[['mobile',25000,2],
      ['laptop',60000,1],
      ['watch',3000,3],
      ['headphone',1500,2]]
cart.sort(key=lambda e:e[2])


print(cart)

[['laptop', 60000, 1], ['mobile', 25000, 2], ['headphone', 1500, 2], ['watch', 3000, 3]]

In [22]:
cart.sort(key=lambda e:e[1]*e[2]) #stored in memory 
print(cart)

[['headphone', 1500, 2], ['watch', 3000, 3], ['mobile', 25000, 2], ['laptop', 60000, 1]]

In [24]:
#count function
a=[1,8,8,9,1,5,8,9]
d=a.count(1)
print(d)

2

In [25]:
numbers.index(12) #give the index of 12 (first occurance)

7

In [31]:
a=[1,2,3,4,5]
b=a.copy() #shallow copy
c=a  #reference copy
print(a)
print(b)
print(c)
a.append(10)
b.append(6)
c.append(9)
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10, 9]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 10, 9]

In [40]:
#Comprehension
x=[1,3,2,7]
x2=[]
for i in x:
#     s=i**2
#     x2.append(s)
# print(x2)

 x2=list(map(lambda i:i**2,x)) #lambda and map
print(x2)

x2=[i**2 for i in x]  #comprehension method specific to list
print(x2)

[1, 9, 4, 49]
[1, 9, 4, 49]

new list=[operation  loop  conditions(optional) ] >> comprehension

In [45]:
b=[1,4,6,7,8,]
b5=[i-5 for i in b ]
print(b5)
aeven=[i**2 for i in b if i%2==0]
print(aeven)

[-4, -1, 1, 2, 3]
[16, 36, 64]

In [51]:
init=[]
names=['alice smith','bob brown','charlie green','david white']
for n in names:
    part=n.split()
    init.append(f"{n.split()[0][0]}{n.split()[1][0]}")
print(init)

#comprehension
init=[f"{i.split()[0][0]}{n.split()[1][0]}" for i in names]
print(init)

['as', 'bb', 'cg', 'dw']
['aw', 'bw', 'cw', 'dw']