Programming Flow-
- Conditional flow
 - if
 - if else
 - if elif else
 - match case

- iteartive flow
 - for loop
 - while loop

In [4]:
x='Hell'
if len(x)>=5:
    print("HELLO WORLD")
else:
    print("INVALID!!")

INVALID!!

In [11]:
a=int(input("Enter a number"))
if a*2>100:
    print('a*2 is greater than 100')
if a+50>150:
    print('a+50 is greater than 150')

a*2 is greater than 100
a+50 is greater than 150

In [15]:
k=int(input("Enter a number"))
if k%2==0:
    print("EVEN")
else:
    print("ODD")

ODD

In [1]:
s=int(input("Enter total sallary"))
hra=s*5/100
da=s*3.3/100
ta=s*2.61/100
# tsa=s+hra+da+ta
if(hra<1000):
     tsa=s+da+ta
     print(tsa)
else:
     tsa=s+hra+da+ta
     print(tsa)

49292.8404

In [9]:
num_str=input("Enter the rating")
name=input("Enter the Movie name")
if num_str.isnumeric():
    num=int(num_str)
    print(name)
    if num==1:
        print("⭐: Terrible")
    elif num==2:
        print("⭐⭐:bad")
    elif num==3:
        print("⭐⭐⭐:Average")
    elif num==4:
        print("⭐⭐⭐⭐:Good")
    elif num==5:
        print("⭐⭐⭐⭐⭐:Excellent")
    else:
        print("⚠️⚠️⚠️")
else:
    print("Nothing Can Work for You")

Nothing Can Work for You

In [11]:
#Match Case-Use this to match multiple Values
day=input("Enter a Day of the week:")
match day:
    case 'Monday'|'Tuesday'|'Wednesday'|'Friday':
        print('Data Science/Data Analysis Class')
    case 'Thursday':
        print('Holiday')
    case 'Saturday':
        print("OFF")
    case 'Sunday':
        print("Heat Wave ")
    case _:
        print("Invalid")

Heat Wave

In [12]:
#Single line Condition
x=int(input("Enter the Value"))
"above 100" if x>100 else "below 100"

'below 100'

In [ ]:
#For Loop>> step based Loop, >>Used for Traversal
### -Syntax:for variable in iterable

#While Lopp>> Condition based

In [13]:
for var in 'hello':
    print(var)

h
e
l
l
o

In [14]:
colors=['red','blue','green','yellow']
for i in colors:
    print(i)

red
blue
green
yellow

In [15]:
#index and values
for i,v in enumerate(colors):
    print(i,v)

0 red
1 blue
2 green
3 yellow

In [21]:
numlist=[12,3,45,67,34,24,20]
for i in numlist:
    print(f'{i:>3}*{10} => {i*10}')

 12*10 => 120
  3*10 => 30
 45*10 => 450
 67*10 => 670
 34*10 => 340
 24*10 => 240
 20*10 => 200

In [26]:
# range(value)=>'start from 0 go till -1'
# range(a,b)=>'start from a go till b-1'
# range(a,b,c)=>'start for a go till b-1 with gap of c'
num=13
for i in range(1,11):
    print(f'{num}*{i} => {num*i:<5}')

13*1 => 13
13*2 => 26
13*3 => 39
13*4 => 52
13*5 => 65
13*6 => 78
13*7 => 91
13*8 => 104
13*9 => 117
13*10 => 130

In [29]:
for i in range (1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [27]:
seq=[1,2,3,4,5,6,7,8,9,10]
num=13
for i in seq:
    print(i*num)

13
26
39
52
65
78
91
104
117
130

In [30]:
#reverse loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1